<form [formGroup]="createUserForm">

    <div class="flex flex-column">

        <div class="flex flex-column gap-2">
            <label for="firstName">First Name</label>
            <input pInputText id="firstName" aria-describedby="firstName-help" formControlName="firstName"/>
            <small id="firstName-help"></small>
        </div>

        <div class="flex flex-column gap-2">
            <label for="firstName">Last Name</label>
            <input pInputText id="lastName" aria-describedby="lastName-help" formControlName="lastName"/>
            <small id="lastName-help"></small>
        </div>


        <div class="flex flex-column gap-2">
            <label for="email">Email</label>
            <input pInputText id="email" aria-describedby="email-help" formControlName="email"/>
            <small id="email-help"></small>
        </div>

    </div>
    <p *ngIf="createUserForm.errors">Hiba</p>
    <p-button [disabled]="!createUserForm.valid" (click)="addNewUser()" label="Submit"></p-button>
</form>

