<form [formGroup]="createUserForm">

    <div class="flex">

        <div class="flex flex-column gap-2">
            <label for="firstName">First Name</label>
            <input pInputText id="firstName" aria-describedby="firstName-help" formControlName="firstName"/>
            <small id="firstName-help">Enter your username to reset your password.</small>
        </div>

        <div class="flex flex-column gap-2">
            <label for="firstName">Last Name</label>
            <input pInputText id="lastName" aria-describedby="lastName-help" formControlName="lastName"/>
            <small id="lastName-help">Enter your username to reset your password.</small>
        </div>


        <div class="flex flex-column gap-2">
            <label for="email">Email</label>
            <input pInputText id="email" aria-describedby="email-help" formControlName="email"/>
            <small id="email-help">Enter your username to reset your password.</small>
        </div>

    </div>
    <p *ngIf="createUserForm.errors">Hiba</p>
    <button (click)="addNewUser()">Add</button>
</form>

{{createUserForm.getRawValue().email}}
